
.header-text{
    font-size: 20px;
    font-weight: bold;
}

.right{
    float: right;
}

.left{
    float: left;
}

.red{
    background-color: #f44336 !important;
}

.card{
    box-shadow: 2px 5px #888888;
}