.card-group {
    display: flex;
    -webkit-overflow-scrolling: touch  !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
    overflow: auto;
    border: 1px solid black;
    padding: 3px;
    align-items: center;
    /*justify-content: center;*/
    max-height: 250px;
    min-height: 250px;
}
.card {
    flex: 0 0 auto  !important;
    max-height: 200px;
    min-height: 200px;
}

.card-group::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

.card-group::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.selected{
    border: 2px solid indianred !important;
}

.card-group::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    rgb(210, 20, 20) 0%,
    rgb(117, 0, 0) 25%,
    transparent 100%,
    rgba(210, 20, 20,1) 75%,
    transparent)
}

.sideBar{
    height: 100px;
    width: 100%;
    background-color: #212529;
    border: 1px solid;
    border-radius: .25rem;
    position: relative;
}
@media (min-width: 576px){
    .card-group {
        flex-flow: row nowrap;
    }
}

#priceBox{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}